.common {
    max-width: 1500px  !important;
    min-height: 1500px;
    padding: 0 !important;
    margin:0 !important;
}

/* Header div */
.header {
    height: 50px;
    margin: 0px 50px;
}

.navbar {
    position: relative;
    left: 1300px;
    bottom: 5px;
    color: rgb(31, 31, 31);
}

.navbar:hover {
    color: rgb(124, 124, 124) ;
}


/* Mainpart div */
.mainpart {
    height: 500px;
    width: auto;
    background: url(../img/uyj-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#aboutus {
    position: relative;
    top: 290px;
    left: 50px;
    background-color: beige;
    font-size: 30px;
    padding: 20px 50px 20px 20px;
    font-family: Raleway,sans-serif !important;
    font-weight: 700 !important;
}


#naildesign {
    position: relative;
    top: 330px;
    left: 50px;
    background-color: black;
    color:  beige;
    font-size: 40px;
    padding: 20px 50px 20px 20px;
    font-family: Montserrat, sans-serif !important
}


/* Middlepart div */
.middle {
    margin: 0px 200px;
    height: 800px;
}

.middle h1 {
    font-size: 50px;
    color: rgb(199, 121, 93);
    font-weight: 50;
    text-align: left;
    font-family: 'Playfair Display',serif;
}

#parttext {
    font-weight: bold;
}

#circle {
    background: rgb(199, 121, 93) ;
    border-radius: 50%;
    padding: 20px; 
    width: 400px;
    height: 400px; 
    position: absolute;
    top: 800px;
    left: 450px;
    z-index: -1;
}

.middle img {
    z-index: 0;
    width: 600px;
}

#info {
    position: absolute;
    left: 750px;
    top: 700px;
    background-color: #efe5db;
    color: rgb(199, 121, 93);
    font-size: 50px;
    font-weight:600 ;
    padding: 50px;
    width: 500px;
    font-family: 'Playfair Display',serif;
}

.middle p {
    position:relative;
    bottom: 150px;
    left: 700px;
    text-align: left;
    width: 400px;
    height: 400px;
    font-size: 20px;
    line-height: 2;
    font-family: Raleway,sans-serif;
}

.middle a {
    position: relative;
    bottom: 350px;
    left: 700px;
    background-color: rgb(199, 121, 93);
    border: none;
    padding: 15px 30px;
    color: white;
    width: 200px;
    text-align: center;
    font-size: 20px;
    font-family: Raleway,sans-serif;
    text-decoration: none;
}

.middle a:hover {
    background-color: rgb(185, 107, 78);
}

/* First content div */
.content {
    height: 600px;
    background-image:linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65)), url(../img/ersg-min.jpg);
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    z-index: -1;
    color: rgb(199, 121, 93) !important;

}

.content h1 {
    font-size: 50px;
    padding-top: 20px;
}

.generalinf {
    font-size: 20px;
    width: 1200px;
    text-align: center;
    margin: auto;
    font-weight: 600;
    font-family: Raleway,sans-serif;
}


.serviceboxes {
    height: 300px;
    width: 1290px;
    margin: 50px 50px 50px 100px;
    opacity: 1 !important;
}

.box1, .box2, .box3, .box4 {
    height: 290px;
    width: 300px;
    z-index: 1;
    background-color: white;
    display: inline-block;
    margin: 5px;
    padding-top: 20px;

}

.box1 img, .box2 img, .box3 img, .box4 img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.servicetype {
    color: rgb(199, 121, 93);
    font-size: 30px;
    margin: 10px;
    font-family: Raleway,sans-serif;
    font-weight: bold;
}

.price {
    color: rgb(31, 31, 31);
    font-size: 25px;
    margin: 25px;
    font-family: Raleway,sans-serif;
}

hr {
    width: 70px;
    border-color:rgb(199, 121, 93);
    margin-bottom: 30px;
}


/* Second content div */
.content2 {
    height: 600px ;
    margin: 0 200px;
    font-family: Raleway,sans-serif;
    
}

#circle2 {
    width: 1000px;
    height: 500px;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-color: #efe5db;
    margin: auto;
}

.content2 h1{
    text-align: center;
    margin: 0px;
    position: relative;
    top: 130px;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Playfair Display',serif;
    color: rgb(199, 121, 93);
    letter-spacing: -2px;
}

.ourinfo {
    position: relative;
    bottom: 370px;
    left: 200px;
}

.info1 {
    width: 400px;
    display: inline-flex;
}

.info2 {
    width: 300px;
    display: inline-flex;
}

.info1 p, .info2 p {
    font-size: 20px;
    line-height: 1.5;
    padding-left: 5px;
    text-align: left;
    color: #665146;
}

.content2 a {
    position: relative;
    bottom: 300px;
    left: 450px;
    border: none;
    background-color:rgb(199, 121, 93);
    padding: 10px 30px;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
}

.content2 a:hover {
    background-color: rgb(231, 166, 142);
}


/* Footer */
.footer {
    height: 300px;
    background-color: rgb(199, 121, 93);
    padding-bottom: 20px;
    font-family: Raleway,sans-serif;
    color: rgb(31, 31, 31);

}

#some_text {
    width: 400px;
    text-align: center;
    padding-top: 50px;
    margin: auto;
}

.footer h3 {
    display: inline-block;
    padding:150px 200px 0px 150px ;
    margin: 0;
    font-size: 20px;
    letter-spacing: 3px;

}


.location {
    padding-left: 70px;
    font-size: 20px;
}

.numbers {
    display: inline-block;
    list-style: none;
    padding-left: 215px;
}

.numbers ul {
    list-style: none;
    margin: 0;
}

.icons {
    padding-left: 375px;
}

.icons i {
    padding: 5px;
    color: rgb(31, 31, 31) ;
}

.icons i:hover {
    color: rgb(54, 54, 54) ;
}